/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    width:100%;
    font-size: 100%;
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.marker p{
    color: black;
}

.marker-name{
    font-weight: bold;
}

.marker-address {
    text-transform: none;
}

.link:active{
    text-decoration: none;
    color: #000;
}


html .ui-btn-text a.ui-btn,
html .ui-btn-text a.ui-btn:visited {
    background: #FFF;
    color: #000;
}

html .ui-btn-text a.ui-btn:after,
html .ui-btn-text a.ui-btn:visited:after {
    right: 1.2em;
    transition: all .3s ease-in-out;
}


html .ui-btn-text a.ui-btn:hover::after, 
html .ui-btn-text a.ui-btn:focus::after,
html .ui-btn-text a.ui-btn:active::after {
    opacity: 1;
    right: .5625em;
}

html .ui-btn-text a.ui-btn:hover, 
html .ui-btn-text a.ui-btn:focus,
html .ui-btn-text a.ui-btn:active {
    background: #FFF;
    color: #000;
}

.sidenav {
    background: #9b59b6 !important;
}

.sidenav h2 {
    color: #FFF;
    margin: 0;
}

.nav-list.ui-listview {
    margin-top: 20px; 
}

html .ui-header .ui-btn {
    background: transparent;
    border: 0;
}
html .ui-header .ui-btn:focus,
html .ui-header .ui-btn:hover {
    background: #9b59b6;
    border-color: #9b59b6;
}

html .fc, .fc table {
    font-size: 11px
}

.fc-widget-header {
    font-size: 11px;
}

.fc-agenda .fc-agenda-axis {
    width: 14px !important;
}

.fc-agenda-allday {
    display: none !important;
}

.fc-agenda-allday + .fc-agenda-divider {
    display: none !important;
}

.fc-event-time {
    display: none;
}

.img-projet {
    margin: 0;
    max-width: 100%;
    text-align: center;
}

.img-projet figcaption {
    text-align: left;
    margin-bottom: 10px;
}

.img-projet img {
    max-width: 100%;
}

.img-projet button.ui-btn {
    margin-bottom: 10px;
}